html, body {
    height: 100%;
    margin: 0;
}

.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.menu {
    min-height: 100%;
}

.footer{
    background-color: #D1C4E9;
    padding: 20px 0px 20px 0px;
    width: 100%;
}

.jumbotron {
    padding : 50px 10px 50px 0px;
    margin:0px auto;
    background: #9575CD ;
    color:floralwhite;
    border-radius: 0;
}

address{
    font-size:80%;
    margin:0px;
    color:#0f0f0f;
}

.navbar-dark {
    background-color: #512DA8;
}

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}

.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}

.page-exit {
    opacity: 1;
    transform: translateX(0%);
}

.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}
